@charset "UTF-8";
.forgotPasword-container{
  background-image: url('../images/background.jpg');
  background-repeat: no-repeat; 
  background-size: cover; 
  background-position: center
}
.forgot-password-card {
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(8px);
}

.submit-btn {
  background-color: #ff8c00;
  border-color: #ff8c00;
  width: 100%; 
}

.submit-btn:hover {
  background-color: #e68000;
  border-color: #e68000;
}

.error-message {
  font-size: 0.9em; 
  margin-top: 0.2em; 
  color: red;
}

.success-message {
  margin-top: 1em; 
  font-size: 1em; 
  text-align: center; 
  color: green;
}

.form-group-custom {
  display: flex;
  align-items: center;
  margin-bottom: 1rem; 
}

.password-toggle-icon {
  cursor: pointer; 
}