
/* Information.js*/
.adminInformation-container {
    padding: 50px;
    font-family: Arial, sans-serif;
}

.adminInformation-card-title {
    text-align: start;
    padding: 10px 20px;
    margin-top: 50px;
}

.adminInformation-card {
    background: linear-gradient(to right, #c4e2fa, #eaf3ea); 
    width: 1000px;
    height: 600px;
    border-radius: 10px;
}

.formadminInformation {
    padding: 30px
}

.form-control-adminInformation {
    width: 465px;
    height: 40px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 8px;
}

.form-label-adminInformation {
    text-align: left;
    display: block;
    margin-bottom: 0.5rem;
}

.save-btn-adminInformation {
    background-color: #ff8c00;
    border-color: #ff8c00;
    width: 100px;
    margin-top: 40px;
}


.xoa-btn-adminInformation{
    background-color: indianred;
    width: 130px;
    margin-top: 40px;
    margin-right: 10px;
}


.form-check-input-adminInformation{
    margin: 10px;
}

.form-check-label-adminInformation{
    font-size: 15px;
    font-family: initial;
    margin-bottom: 10px;
    /* margin: 10px; */
}

.form-check-adminInformation{
    text-align: left;
}

.admin-doimatkhau{
    margin-left: 650px;
    margin-top: 10px;
}


.form-control-admin-information{
    width: 380px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    margin-bottom: 15px;
    transition: border-color 0.3s, box-shadow 0.3s;
    font-size: 14px;
    height: 40px;
}

.form-label-admin-information{
    font-size: 16px;
    font-family: initial;
}